In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


df = pd.read_csv('car data.csv')

df.dropna(inplace=True)  # Handle missing values
df = pd.get_dummies(df, drop_first=True)  # Encoding categorical variables


X = df.drop('Selling_Price', axis=1)
y = df['Selling_Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Predicted car Selling_Prices:")
print(y_pred)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'R2: {r2}')

print(df)

Predicted car Selling_Prices:
[ 7.47327051  9.58880632  5.56883578 -0.40941815  8.55896043  6.88890857
  1.47635719  6.23695329  0.98014478  6.68925428 15.63172868  0.29557627
  7.97759508  8.08373758  6.19289061  2.70151483  2.72386344 10.98923224
  7.77090451  8.56271721  5.55477855  7.63455899  5.6498586   1.89746929
  6.25342368  3.48912822  5.48662283  1.6085983   2.6805568   2.67421952
 -0.03307212  9.11656913 -2.33116821  1.98326133  8.36119393  3.98900218
  6.09888859  6.17398282  4.27677317  6.74710603  5.51688689  8.34755944
  3.67455712  0.25706045 13.06489129  0.04497286  8.34319661  9.55198302
  3.90152259  4.03845455  5.9287072   2.70075543 22.92984367 20.60225579
  7.30522747  9.84045173  4.59171221  8.91665681  0.05897455  6.62617599
  3.66819743]
MAE: 2.036517478993559
MSE: 9.221090391504339
R2: 0.599702348191677
     Year  Selling_Price  Present_Price  Driven_kms  Owner  \
0    2014           3.35           5.59       27000      0
1    2013           4.75           9.54       43000      0
2    2017           7.25           9.85        6900      0
3    2011           2.85           4.15        5200      0
4    2014           4.60           6.87       42450      0
..    ...            ...            ...         ...    ...
296  2016           9.50          11.60       33988      0
297  2015           4.00           5.90       60000      0
298  2009           3.35          11.00       87934      0
299  2017          11.50          12.50        9000      0
300  2016           5.30           5.90        5464      0

     Car_Name_Activa 3g  Car_Name_Activa 4g  Car_Name_Bajaj  ct 100  \
0                 False               False                   False
1                 False               False                   False
2                 False               False                   False
3                 False               False                   False
4                 False               False                   False
..                  ...                 ...                     ...
296               False               False                   False
297               False               False                   False
298               False               False                   False
299               False               False                   False
300               False               False                   False

     Car_Name_Bajaj Avenger 150  Car_Name_Bajaj Avenger 150 street  ...  \
0                         False                              False  ...
1                         False                              False  ...
2                         False                              False  ...
3                         False                              False  ...
4                         False                              False  ...
..                          ...                                ...  ...
296                       False                              False  ...
297                       False                              False  ...
298                       False                              False  ...
299                       False                              False  ...
300                       False                              False  ...

     Car_Name_swift  Car_Name_sx4  Car_Name_verna  Car_Name_vitara brezza  \
0             False         False           False                   False
1             False          True           False                   False
2             False         False           False                   False
3             False         False           False                   False
4              True         False           False                   False
..              ...           ...             ...                     ...
296           False         False           False                   False
297           False         False           False                   False
298           False         False           False                   False
299           False         False           False                   False
300           False         False           False                   False

     Car_Name_wagon r  Car_Name_xcent  Fuel_Type_Diesel  Fuel_Type_Petrol  \
0               False           False             False              True
1               False           False              True             False
2               False           False             False              True
3                True           False             False              True
4               False           False              True             False
..                ...             ...               ...               ...
296             False           False              True             False
297             False           False             False              True
298             False           False             False              True
299             False           False              True             False
300             False           False             False              True

     Selling_type_Individual  Transmission_Manual
0                      False                 True
1                      False                 True
2                      False                 True
3                      False                 True
4                      False                 True
..                       ...                  ...
296                    False                 True
297                    False                 True
298                    False                 True
299                    False                 True
300                    False                 True

[301 rows x 106 columns]

In [5]:
y_pred

array([ 2.87301961, 13.02277496,  8.8399643 ,  0.67111757, 16.25985542,
        9.04274266,  1.42172326,  0.90623512,  0.49153947,  8.99315949,
        5.78219893,  1.60902432, 11.15396532,  2.7050276 ,  9.32799902,
        5.40523794,  1.40102578, 21.17291848,  0.67302882,  1.28806062,
        0.95970245, 12.08524389,  8.90830044,  5.97852624,  1.04927215,
        6.40735412, 10.75431428,  6.00502528,  1.24581664,  1.36724434,
        0.92100634, 12.4115706 ,  1.30058606,  7.1254064 ,  9.76878819,
        6.08621998, 15.65231164, 14.99069568,  4.51140502, 15.36072734,
       12.3233797 ,  5.54160559,  6.45688933,  0.87796185,  4.70118062,
        1.29321901, 11.26081556, 17.89955327,  4.99054644,  6.10959161,
       10.87839012,  1.28976339, 33.29723723, 23.60901286, 10.38773686,
       15.66295675,  5.61402908, 12.77736175,  9.69589189, 11.08559175,
        0.10390153])

In [8]:
df

,Year,Selling_Price,Present_Price,Driven_kms,Owner,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,...,Car_Name_swift,Car_Name_sx4,Car_Name_verna,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Individual,Transmission_Manual
0,2014,3.35,5.59,27000,0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
1,2013,4.75,9.54,43000,0,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,True
2,2017,7.25,9.85,6900,0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3,2011,2.85,4.15,5200,0,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,True
4,2014,4.60,6.87,42450,0,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,0,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
297,2015,4.00,5.90,60000,0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
298,2009,3.35,11.00,87934,0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
299,2017,11.50,12.50,9000,0,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
300,2016,5.30,5.90,5464,0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True